@import "../../../current/theme/walker.css";

* {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 14px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@base, 0.95);
  padding: 20px;
  border: 2px solid @border;
  min-height: 300px;
  min-width: 644px;
}

.preview-box {
}

.box {
}

.search-container {
  background: @base;
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
  min-height: 300px;
  min-width: 644px;
}

.scroll {
  min-height: 300px;
}

.list {
  min-height: 300px;
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
  background: @selected-background;
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  border-radius: 10px;
  padding: 7px 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
  background: @background;
}
