[Desktop Entry]
Name=Signal Beta
Exec="/opt/Signal Beta/signal-desktop-beta" --password-store=gnome-libsecret %U
Terminal=false
Type=Application
Icon=signal-desktop-beta
StartupWMClass=signal beta
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Categories=Network;InstantMessaging;Chat;
