@define-color selected-text #7dcfff;
@define-color selected-background #171617;
@define-color text #cfc9c2;
@define-color base #1f1f1f;
@define-color border #33ccff;
@define-color foreground #e8eaed;
@define-color background #1f1f1f;
